<!--
{% if messages %}
    <div class='messages'>

    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
    {% endfor %}
    </ul>

    </div>
{% endif %}
-->



						{% if messages %}


	                            <div class="alert alert-success">
	                               	<div class='messages'>

	                        {% for message in messages %}

	                        <ul class="messages">

                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>

                            	    <button type="button" aria-hidden="true" class="close">×</button>
	                        
	                        		</div>
	                       	</ul>
                            {% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>



	                        {% endfor %}
	                    {% endif %}