{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span10">
          <div class="widget_table widget-nopad">
            <div class="widget-header"> <i class="icon-user"></i>
              <h3> Usuarios registrados</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">
<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}
<input type='submit' class='btn btn-primary' value='{{ title }}' />
</form>
</div>



            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
        </div>
        <!-- /span6 --> 
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>



{% endblock content %}

