{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<!--

<form method='GET' action='' class='row'>
        <div class='col-sm-20'>
            <div class='input-group'>
                <input class='form-control' type='text' name='q' placeholder='Buscar perfil' value='{{ request.GET.q }}'/>
                <span class='input-group-btn'>

                    <button class='btn btn-primary' type='submit'>Buscar <i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
</form>

-->
<!--

<div class='col-sm-100 col-sm-offset-99'>

                    <h1 class="page-header">
                    Perfiles de usuarios
                </h1>
    {% for obj in object_list %}
    <div class="container">

        <div class="row">

            <div class="col-md-99">


                <h4>
                <a href='{{ obj.get_absolute_url }}'></a>
                </h4>
                <p><span class="glyphicon glyphicon-time"></span>&nbsp;Inicio de cargo:&nbsp;{{ obj.inicio_cargo}}</p>
                <p><span class="glyphicon glyphicon-user"></span>&nbsp;Usuario:&nbsp;<a href="perfil.html">{{ obj.user.username }}</a></p>
                <hr>
                <img src='{% static "assets/img/user1.png" %}' height="200" width="200" class='img-responsive' />
                {% if obj.avatar %}
                <img src='{{ obj.avatar.url }}' class='img-responsive' />
                {% endif %}
                <hr>
                {% if obj.user.get_full_name %}<p>Credenciales:</p>
                Rut:&nbsp;<b>{{ obj.rut }}</b></p>
                Nombre:&nbsp;<b>{{ obj.user.get_full_name }}</b></p>{% endif %}
                Cargo:&nbsp;<b>{{ obj.cargo }}</b></p>
                Especialidad:&nbsp;<b>{{ obj.especialidad }}</b></p>
                <p><span class="glyphicon glyphicon-time"></span>&nbsp;Ultima actualizacion:&nbsp;{{ obj.ultimateupdate}}
                <hr>

                
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}

                <a href='{% url "profile:update" id_profile=obj.id %}'> Editar</a> |&nbsp;<a id="url" name="{{obj.id}}"  href='#' class='btn-ExitSystem' value='{{ obj.id }}'>Borrar</a>

                {% endif %}
                {% endif %}
                <br>

                <a class="btn btn-primary" href='{% url "profile:detail" id_profile=obj.id %}'>Ver mas<span class="glyphicon glyphicon-chevron-right"></span></a><hr>
            </div>
        </div>
    </div>
    {% endfor %}
-->

        



<!-- /subnavbar -->
<!-- /subnavbar -->
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <div class="span10">
          <div class="widget_table widget-nopad">
            <div class="widget-header"> <i class="icon-user"></i>
              <h3> Usuarios registrados</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="widget big-stats-container">

<form id="myform" method="post">
<table id="example" data-page-length='25' class="table table-border" >
            <thead>
                <tr> 
                    <td>Usuario</td>
                    <td>Rut</td>
                    <td>Cargo</td>
                    <td>Especialidad</td>
                    <td>Nombre</td>
                    <td></td>
                </tr>
            </thead>



            <tfoot>
                <tr>

                    <td>Usuario</td>
                    <td>Rut</td>
                    <td>Cargo</td>
                    <td>Especialidad</td>
                    <td>Nombre</td>
                    <td></td>

                </tr>
            </tfoot>
            <tbody>
        {% if object_list  %}
        {% for obj in object_list  %}
                <tr>
                    <td>{{ obj.user.username }}</td>
                    <td>{{ obj.rut }}</td>
                    <td>{{ obj.cargo }}</td>
                    <td>{{ obj.especialidad }}</td>
                    <td>{{ obj.user.get_full_name }}</td>
                    <td>URL</td>
                </tr>
        {% endfor %}
        {% endif %}
           </tbody>
           </div>
           </table>


        
</form>

                </div>


            <!-- /widget-content --> 
          </div>
          <!-- /widget -->
        </div>
        <!-- /span6 --> 
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>

{% endblock content %}


{% block content2 %}
    

    <script>
$(document).ready(function (){
   var table = $('#example').DataTable({
    "language": idioma_español,


    stateSave: true


});
    

});

var idioma_español = {
    "sProcessing":     "Procesando...",
    "sLengthMenu":     "Mostrar _MENU_ registros",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
        "sFirst":    "Primero",
        "sLast":     "Último",
        "sNext":     "Siguiente",
        "sPrevious": "Anterior"
    },
    "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }
}

</script>


{% endblock content2 %}


