{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Gestor de Actividades </h3>
              </div>

              <div class="title_right">
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-bars"></i> Actividades </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">



                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Registro de Historial</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Completadas</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Incompletas</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab"                >

                  <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                            <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

</ul>
                        <div class="tags">
                          <a href="" class="tag">
                            Completada
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>

                  <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                                                                          <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

</ul>
                        <div class="tags">
                          <a href="" class="tag">
                            Completada
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                  <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                                                                          <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

</ul>
                        <div class="tags">
                          <a href="" class="tag_red">
                            Incompleta
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                                      <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                                                                          <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

</ul>
                        <div class="tags">
                          <a href="" class="tag">
                            Completada
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                                      <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                                                                          <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

</ul>
                        <div class="tags">
                          <a href="" class="tag_red">
                            Incompleta
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                                      <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                                                                          <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

</ul>
                        <div class="tags">
                          <a href="" class="tag_red">
                            Incompleta
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                  <ul class="list-unstyled timeline">
                    <li>
                                                      <div class="message_date">
                                  <span>Hace 13 Horas</span>
                                  <p class="month">May</p>
                                </div>
                      <div class="block">
                        <div class="tags">
                          <a href="" class="tag_red">
                            Incompleta
                          </a>
                        </div>
                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                            
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="block">
                        <div class="tags">
                          <a href="" class="tag_red">
                            Incompleta
                          </a>
                        </div>
                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Jornales</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="block">

                        <div class="tags">
                          <a href="" class="tag_red">
                            Incompleta
                          </a>
                        </div>
                        <div class="block_content">
                          <h2 class="title">
                                          <a>Ejecucion de resultados </a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Control de resultados de 20 horas semana del 01 de Enero, Salud y satisfaccion de la prevencion de...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                                      <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                                                                          <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

</ul>
                        <div class="tags">
                          <a href="" class="tag">
                            Completada
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                          <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo
                            booth letterpress, commodo enim craft beer mlkshk </p>
                        </div>
                      </div>
                    </div>



              



              </div>
              </div>
              </div>
        <!-- /page content -->
<style type="text/css">

.tag_red {
    display: block;
    height: 30px;
    font-size: 13px;
    padding: 8px;
}
.tag_red {
    line-height:1;
    background:#bb1a1a;
    color:#fff!important
}

.tag_red:after{
    content:" ";
    height:30px;
    width:0;
    position:absolute;
    left:100%;
    top:0;
    margin:0;
    pointer-events:none;
    border-top:14px solid transparent;
    border-bottom:14px solid transparent;
    border-left:11px solid #bb1a1a
  }

</style>

{% endblock content %}

