{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
           
           
                            <a href="/modulos/">Modulos <i class="fa fa-backward"></i></a> 
                            &nbsp;&nbsp;&nbsp; <a href="/modulo/{{ obj_modulo.id }}">{{ obj_modulo.nombre }} <i class="fa fa-backward">
                            </i></a>
                            &nbsp;&nbsp;&nbsp; <a href="/modulo/{{ obj_modulo.id }}/submodulo/{{ obj_sub.id }}">{{ obj_sub.nombre }} <i class="fa fa-backward">
                            </i></a>
                            </div>
                            <br>


           

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-5 form-group pull-right top_search">
                  <div class="input-group">
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <div class="col-md-5 col-sm-6 col-xs-12">
                              <h2><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{% if not obj_modulo.id == 3%} {{ obj_get1.nombre }} {% else %}{{ obj_get.nombre }} {% endif %}</h2>
                        </div>
                            <div class="col-md-3 col-sm-0 col-xs-0">

                            </div>
                            

                        
                              </a>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>


                          <div class="panel-body">
                          <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                      
                            </th>
                         
                            <th class="column-title">Responsable</th>
                            <th class="column-title">Cargo</th>
                             <th class="column-title">Archivo</th>
                            <th class="column-title">Fecha Carga</th>
                            <th class="column-title">Asistentes</th>
                            <th class="column-title">Firmas</th>

                            
                           

                          
                            </th>
                          </tr>
                        </thead>

                              <tbody>

                       

                          <tr class="even pointer">
                            <td class="a-center ">

                            <form id="antoform" action="" method="POST" data-parsley-validate class="form-horizontal form-label-left" enctype='multipart/form-data'>
                                              
                            </td>  

                                  <td>Steve Jobs
                                  </td>
                                  <td>Gerente</td>
                                  <td><a href=""><i class="fa fa-file-pdf-o"></i> Reglamento_Interno_OHS_1.pdf</a></li></td>
                                  <td>04 Octubre del 2017</td>
                                  <td>10</td>
                                  <td>10</td>

                                 
                                  
                                </tr>
                                <tr class="even pointer">
                                <td class="a-center ">
                                  </td>
                                    <td>Steve Jobs
                                  </td>
                                  <td>Supervisor</td>
 
                              <td><a href=""><i class="fa fa-file-pdf-o"></i> Reglamento_Interno_OHS_2.pdf</a></li></td>
                              <td>04 Octubre del 2017</td>
                              <td>5</td>
                              <td>5</td>

                                </tr>
                                <tr class="even pointer">
                                 <td class="a-center ">
                                  </td>
                                  <td>Bill Gates
                                  </td>
                                  <td>Supervisor</td>
                                  <td><a href=""><i class="fa fa-file-pdf-o"></i> Reglamento_Interno_OHS_3.pdf</a></li></td>
                                  <td>10 Octubre del 2017</td>
                                  <td>7</td>
                                  <td>6</td>
                                    </tr>
           
                              </tbody>
                  
                            </table>


            {% if not obj_modulo.id == 3%}
                    <div class="btn-group">

                      <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage">
                    </div>
                      <button class="btn btn-success dropdown-toggle" type="button" > Subir </button>
                     

            {% else %}

                      <div class="btn-group">

                          <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> Modelo <span class="caret"></span> </button>


                          <ul class="dropdown-menu">

                            {% for obj in obj_template %}
                            <li><a href='{% url "profile:documento" obj_modulo.id obj_sub.id obj_get.id obj.id %}'>{{ obj.nombre }}</a>
                            </li>
                            {% endfor %}
                          </ul>

                        </div>                         
                              <br>
                               <br>

                                <div class="col-md-5 col-sm-6 col-xs-12">
                              <h2><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Documentos Pendientes</h2>
                              <br>
                        </div>
                         <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                      
                            </th>
                         
                            <th class="column-title">Responsable</th>
                            <th class="column-title"></th>
                             <th class="column-title">Nombre</th>
                            <th class="column-title">Fecha Creacion</th>
                            <th class="column-title">Asistentes</th>
                            <th class="column-title">Firmas</th>
                            <th class="column-title">Continuar</th>


                            </th>
                          </tr>
                        </thead>
                              <tbody>

                          <tr class="even pointer">
                            <td class="a-center ">

                            <form id="antoform" action="" method="POST" data-parsley-validate class="form-horizontal form-label-left" enctype='multipart/form-data'>
                                              
                            </td>  

                                  <td>Steve Jobs
                                  </td>
                                  <td>Gerente</td>
                                  <td><a href='#'><i class="fa fa-file-pdf-o"></i> Registro de Entrega Derecho a Saber</a></li></td>
                                  <td>6 Octubre del 2017</td>
                                   <td>6</td>
                                      <td>5</td>
                                      <td><a href='{% url "profile:firmas_asist"  obj_modulo.id obj_sub.id obj_get1.id 4 1  %}' ><button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-chevron-right"></i>
                          </button></a></td>
                                 
                                  
                                </tr>
                                <tr class="even pointer">
                                <td class="a-center ">
                                  </td>
                                    <td>Jean perez
                                  </td>
                                  <td>Supervisor</td>
                              <td><a href='#'><i class="fa fa-file-pdf-o"></i> Registro de Entrega Derecho a Saber V1</a></li></td>
                              <td>05 Octubre del 2017</td>
                               <td>17</td>
                               <td>15</td>
                                  <td>
                                    <a href='{% url "profile:firmas_asist"  obj_modulo.id obj_sub.id obj_get1.id 4 1  %}' ><button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-chevron-right"></i>
                          </button></a></td>

                                </tr>
                                <tr class="even pointer">
                                      <td class="a-center ">
                                  </td>
                                  <td>Bill Gates
                                  </td>
                                  <td>Supervisor</td>
                                  <td><a href='#'><i class="fa fa-file-pdf-o"></i> Registro de Entrega Derecho a Saber V2</a></li></td>
                                  <td>04 Octubre del 2017</td>
                                   <td>5</td>
                                   <td>5</td>
                                  <td>
                                    <a href='{% url "profile:firmas_asist"  obj_modulo.id obj_sub.id obj_get1.id 4 1  %}' ><button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-chevron-right"></i>
                          </button></a></td>
                                    </tr>
           
                              </tbody>
                  
                            </table>

                                {% endif %}

                          </div>
                        </div>


                            
                          </div>
                        <td>
                          <td>
                            
                          </td>
                        </td>

                        </div>
                        </div>
 

</div>
</div>

</div>
</div>
</div>
</div>
</div>






{% endblock content %}


{% block content2 %}




{% endblock content2 %}

