{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
              <a href="/modulo/{{ obj_module.id }}">{{ obj_module.nombre }} <i class="fa fa-backward"></i></a>  
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-5 form-group pull-right top_search">
                  <div class="input-group">
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <div class="col-md-5 col-sm-6 col-xs-12">
                              <h2>{{ obj_get.nombre }}</h2>
                        </div>
                            <div class="col-md-3 col-sm-0 col-xs-0">

                            </div>
                            

                        
                              </a>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>


                  <div class="x_content">
                    <br />
                    <form id="demo-form2" action="" method="POST" enctype='multipart/form-data' data-parsley-validate class="form-horizontal form-label-left">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_asign">Responsable <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.user_asign }}
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="fecha_inicio" class="control-label col-md-3 col-sm-3 col-xs-12">Fecha Inicio<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.fecha_inicio }}
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="fecha_termino" class="control-label col-md-3 col-sm-3 col-xs-12">Fecha Termino<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.fecha_termino }}
                        </div>
                      </div>
                    <div class="form-group">
                        <label for="estado" class="control-label col-md-3 col-sm-3 col-xs-12">Estado
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="status" class="date-picker form-control col-md-7 col-xs-12" value="{{ obj_get.estado }}" type="text" disabled="">
                        </div>
                      </div>
                        <div class="form-group">
                        <label for="fecha_carga" class="control-label col-md-3 col-sm-3 col-xs-12">Fecha de Carga
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="carga" class="date-picker form-control col-md-7 col-xs-12" value="{{ obj_get.fecha_termino }}" type="text" disabled="">
                        </div>
                      </div>
                     <div class="form-group">
                        <label for="archivos" class="control-label col-md-3 col-sm-3 col-xs-12">Archivos
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a></li>
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        {% csrf_token %}
                          <button class="btn btn-primary" type="button">Cancelar</button>
                          <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                      </div>



                    </form>
                  </div>
                </div>
              </div>
            </div>


 

</div>
</div>

</div>
</div>
</div>
</div>
</div>






{% endblock content %}


{% block content2 %}


<script>
    $(document).ready(function(){
      var date_input=$('input[name="fecha_inicio"]'); //our date input has the name "birthdate"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>

<script>
    $(document).ready(function(){
      var date_input=$('input[name="fecha_termino"]'); //our date input has the name "birthdate"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>


{% endblock content2 %}

