{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
           
           
                            <a href="/modulos/">Modulos <i class="fa fa-hand-o-left"></i></a> 
                            &nbsp;&nbsp;&nbsp; <a href="/modulo/{{ obj_modulo.id }}">{{ obj_modulo.nombre }} <i class="fa fa-hand-o-left">
                            </i></a>
                            &nbsp;&nbsp;&nbsp; <a href="/modulo/{{ obj_modulo.id }}/submodulo/{{ obj_sub.id }}">{{ obj_sub.nombre }} <i class="fa fa-hand-o-left">
                            </i></a>
                            </div>
                            <br>


           

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-5 form-group pull-right top_search">
                  <div class="input-group">
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <div class="col-md-6 col-sm-6 col-xs-12">
                              <h2><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>&nbsp;&nbsp;{{ obj_get.nombre }}</h2>
                        </div>
                        


                    <div class="clearfix"></div>
                  </div>



                       
                          <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>


                        
                          <tr class="headings">
                            <th>
                      
                            </th>
                         
                            <th class="column-title">Responsable</th>
                            <th class="column-title">Cargo</th>
                             <th class="column-title">Titulo</th>
                            <th class="column-title">Fecha Creacion</th>
                            <th class="column-title">Fecha Carga</th>
                            <th class="column-title">Asistentes</th>
                            <th class="column-title">Firmas</th>

                            
                           

                          
                            </th>
                          </tr>


                        </thead>

                              <tbody>

                         {% for obj in obj_docu1 %}

                          <tr class="even pointer">
                            <td class="a-center ">

                            <form id="antoform" action="" method="POST" data-parsley-validate class="form-horizontal form-label-left" enctype='multipart/form-data'>
                                              
                            </td>  

                                  <td> {{ obj.user1.user.first_name }}
                                  </td>
                                  <td>{{ obj.user1.cargo }}</td>
                                  <td><a href='{% url "profile:mi_pdf"   obj.id obj.template.nombre %}'><i class="fa fa-file-pdf-o"></i> {{ obj.titulo }}.pdf</a></li></td>
                                  <td>{{ obj.fecha }}</td>
                                  <td>{{ obj.fecha3 }}</td>
                                  <td>{{ obj.suma_firmas }}</td>
                                  <td>{{ obj.suma_firmas }}</td>
                                

                                </tr>

                                 {% endfor %}
                                
           
                              </tbody>
                  
                            </table>

                        

 </form>
</td>
</tr>
</tbody>
</table>
</div>




            {% if not obj_modulo.id == 3%}
                    <div class="btn-group">

                      <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage">
                    </div>
                      <a href='{%  url "profile:select_users2" obj_modulo.id obj_sub.id obj_get.id %}'><button class="btn btn-success dropdown-toggle" type="button" > Subir </button></a>
                     

            {% else %}


                      <div class="btn-group">

                           <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button" aria-expanded="false"> Generar Interno <span class="caret"></span> </button>


                          <ul class="dropdown-menu">

                            {% for obj in obj_template %}
                            <li><a href='{% url "profile:documento" obj_modulo.id obj_sub.id obj_get.id obj.id %}'>{{ obj.nombre }}</a>
                            </li>
                            {% endfor %}
                          </ul>
  </div>
                                     
                       
{% if obj_docu %}
          
                          
              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-5 form-group pull-right top_search">
                  <div class="input-group">
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <div class="col-md-6 col-sm-6 col-xs-12">
                       <h2><span class="glyphicon glyphicon-level-up" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Documentos Pendientes</h2></h2>
                        </div>
                        


                    <div class="clearfix"></div>
                  </div>

                             
                             
                   
              
                        <br>
                        <div class="table-responsive">
                         <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                      
                            </th>
                         
                            <th class="column-title">Responsable</th>
                            <th class="column-title">Cargo</th>
                             <th class="column-title">Titulo</th>
                            <th class="column-title">Fecha Creacion</th>
                            <th class="column-title">Fecha Caducidad</th>

                            <th class="column-title">Asistentes</th>
                            <th class="column-title">Firmas</th>
                            <th class="column-title">Seguir o Borrar</th>


                            </th>
                          </tr>
                        </thead>
                              <tbody>
                            <form id="antoform" action="" method="POST" data-parsley-validate class="form-horizontal form-label-left" enctype='multipart/form-data'>


                              {% for obj in obj_docu %}
                          <tr class="even pointer">
                            <td class="a-center ">


                                  <input type="hidden" id="url2" name="{{ obj.id }}">            
                            </td>  

                                  <td>{{ obj.user1.user.first_name }}
                                  </td>
                                  <td>{{ obj.user1.cargo }}</td>
                                  <td><a href='#'><i class="fa fa-file-pdf-o"></i> {{ obj.titulo }}.pdf</a></li></td>
                                  <td>{{ obj.fecha }}</td>
                                  <td>{{ obj.fecha2 }}</td>
                                   <td>{{ obj.suma_firmas }}</td>
                                      <td>0</td>

                                      <td>
     
                                      {% if obj.etapa == 1 %}<a href='{% url "profile:select_users"  obj_modulo.id obj_sub.id obj_get.id obj.template.id obj.id   %}' >
                                     {% elif obj.etapa == 2 %}<a href='{% url "profile:firmas_asist"  obj_modulo.id obj_sub.id obj_get.id  obj.id obj.template.id %}' >
                                      {% endif %}
                                      <button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-chevron-right"></i>
                          </button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a id="url" name="{{ request.build_absolute_uri }}"  href='#' class='btn-ExitSystem' value=''><button type="button" rel="tooltip" title="Eliminar" class="btn btn-danger btn-simple btn-xs">
                                  <i class="fa fa-trash"></i>
                                  </button></a></td>
                                 
                                  
                                </tr>
                                {% endfor %}
             
           
                              </tbody>
                  
                            </table>

                                {% endif %}

                          </div>
                        </div>

{% endif %}
                            
                          </div>
                        <td>
                          <td>
                            
                          </td>
                        </td>

                        </div>
                      
 

</div>
</div>

</div>
</div>
</div>
</div>
</div>






{% endblock content %}


{% block content2 %}

<script type="text/javascript">

$(document).ready(function(){
    

    var myurl = document.getElementById('url').getAttribute("name");
    var myurl2 = document.getElementById('url2').getAttribute("name");

    $('.btn-ExitSystem').on('click', function(e){
        e.preventDefault();
        swal({ 
            title: "Desea Eliminar este Elemento?",   
            text: "Se eliminara todo su contenido",   
            type: "warning",   
            showCancelButton: true,   
            confirmButtonColor: "#DD6B55",   
            confirmButtonText: "Si",
            animation: "slide-from-top",   
            closeOnConfirm: false,
            cancelButtonText: "Cancelar"
        }, function(){   
            window.location=   myurl + 'documento/' + myurl2 + '/delete' ; 
        });
    }); 

})(jQuery);

</script>


{% endblock content2 %}

