{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

        <!-- page content -->


        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
              
              </div>

              <div class="title_right">
                  <h2></i>Encargados de proyecto</h2>

              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">



      
                          <div class="panel-body">
                            


                          <div class="table-responsive">

                      <table id="myTable" class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                         
                            <th class="column-title">Nombre</th>
                            <th class="column-title">Apellido</th>
                            <th class="column-title">Cargo</th>
                     
                            <th class="column-title">Ultima Actualizacion</th>
                            <th>Ver</th>
                          
                         

                          </tr>
                        </thead>

                              <tbody>

                            
                      {% for obj in object_list|dictsort:"id" %}
                          <tr class="even pointer"> 

                                 <td>   {{ obj.user.first_name }}</a></td> 
                        
                                  
                                   <td>
                                    {{ obj.user.last_name }}
                                  </td>                              
                                  
                                  <td>{{ obj.cargo }}</td>

                             
                                
                                 
                                  <td>{{ obj.ultimateupdate }}</td>



                          <td><a href='{% url "profile:profile_detail" obj.id %}'><button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-eye"></i>
                          </button></a></td>
                                </tr>
                        {% endfor %}

                              
                              </tbody>
                             
                            </table>




                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

{% endblock content %}