{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>{{ title }}</h1>
<hr/>

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}
<input type='submit' class='btn btn-primary' value='{{ title }}' />
</form>
</div>
{% endblock content %}


{% block footer %}
<!-- Latest compiled and minified JavaScript -->
        <!-- Footer -->   
        <footer class="footer-MaterialDark">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Powered by Demaro!®</h5>
                        <p class="grey-text text-lighten-4">
                            <br>
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Contacto:</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="">demaromail@gmail.com</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/Demaro">Repositorio</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">Material frontend</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://manos.malihu.gr/jquery-custom-content-scroller/">jQuery custom content scroller</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="NavLateralDivider"></div>
            <div class="footer-copyright">
                <div class="container center-align">
                    © 2017 David Esteban Martinez Rojas
                </div>
            </div>
        </footer>
    </section>

{% endblock footer %}