{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Personal</span>
              <div class="count">250</div>
              <span class="count_bottom"><i class="green">30+</i> Ultima semana</i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>  Capacitaciones</i></span>
              <div class="count">70</div>
              <span class="count_bottom">7<i class="green"><i class="fa fa-sort-asc"></i> Ultima semana</i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Dias sin accidentes </i></span>
              <div class="count green">30</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Accidentes</i></span>
              <div class="count">1</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i> </i> Ultima semana</i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i>  Actividades cargadas</i></span>
              <div class="count">61</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>30 </i>Este Mes</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Actividades cumplidas</i></span>
              <div class="count">60</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>29 </i>Ultima semana</span>
            </div>
          </div>
          <!-- /top tiles -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Perfil del Proyecto </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view" src='{% static "images/logocontru.jpg" %}' alt="Avatar" title="Change the avatar">
                        </div>
                      </div>
                      <h3>Constructora Name</h3>

                      <ul class="list-unstyled user_data">
                        <li><i class="fa fa-map-marker user-profile-icon"></i> San Francisco, edificio 21, Chile
                        </li>

                        <li>
                          <i class="fa fa-briefcase user-profile-icon"></i> Obra
                        </li>
                        <li>
                          <i class="fa fa-tag user-profile-icon"></i> Constructora
                        </li>
                          <li>
                          <i class="fa fa-flag-o user-profile-icon"></i> Inicio: 01/01/2018
                        </li>
                           <li>
                          <i class="fa fa-flag-checkered user-profile-icon"></i> Termino: 01/12/2018
                        </li>
                          <li>
                          <i class="fa fa-users user-profile-icon"></i> Dotacion Max: 300
                        </li>


                        <li class="m-top-xs">
                          <i class="fa fa-external-link user-profile-icon"></i>
                          <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                        </li>
                      </ul>

                      <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Editar Proyecto</a>
                      <br />

                      <!-- start skills -->
                      <h4>Informacion de mando:</h4>
                      <ul class="list-unstyled user_data">
                        <li>
                          <p>Gerente:</p>
                        <i class="fa fa-globe user-profile-icon"></i> Steve Jobs
                        </li>
                        <li>
                          <p>Administrador:</p>
                        <i class="fa fa-gear user-profile-icon"></i> Bill Gates
                        </li>
                        </li>
                        <li>
                          <p>Supervisor:</p>
                        <i class="fa fa-search user-profile-icon"></i> Steve Wozniak
                        </li>
                      </ul>
                      <!-- end of skills -->


                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div class="profile_title">
                        <div class="col-md-6">
                          <h2>User Activity Report</h2>
                        </div>
                        <div class="col-md-6">

                        </div>
                      </div>
                      <!-- start of user-activity-graph -->
                     
                    <div id="chart_plot_01" class="demo-placeholder"></div>
                  
                 
                      <!-- end of user-activity-graph -->

                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Historial</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Completadas</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Incompletas</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                      <div class="pre-scrollable">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab"                >

                  <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                            <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

                        </ul>
                        <div class="tags">
                          <a href="" class="tag">
                            Completada
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>

                  <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                                                                          <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

</ul>
                        <div class="tags">
                          <a href="" class="tag">
                            Completada
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                  <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                                                                          <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

</ul>
                        <div class="tags">
                          <a href="" class="tag_red">
                            Incompleta
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                                      <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                                                                          <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

</ul>
                        <div class="tags">
                          <a href="" class="tag">
                            Completada
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                                      <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                                                                          <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

</ul>
                        <div class="tags">
                          <a href="" class="tag_red">
                            Incompleta
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                                      <ul class="list-unstyled timeline">
                  

                    <li>
                      <div class="block">
                                                                          <ul class="messages">
                              <li>
                            
                                <div class="message_date">
                                  Inicio:
                                  <h class="date text-info">24 Mayo
                                  </h>
                                  Termino:
                                  <h class="date text-info">26 Mayo
                                  </h>
                                </div>
                       </li>     

</ul>
                        <div class="tags">
                          <a href="" class="tag_red">
                            Incompleta
                          </a>
                        </div>

                        <div class="block_content">
                          <h2 class="title">
                                          <a>Capacitacion de Tazadores</a>
                                      </h2>
                          <div class="byline">
                            <span>Hace 13 Horas</span> por: <a>Steve Jobs</a>
                          </div>
                          <p class="excerpt">Descripcion: Capacitacion de 20 horas semana del 01 de Enero, Entrega y dominio de herramientas para el trabajo de tazador en constuccion para cumplir con...<a>Ver&nbsp;Mas</a>
                          </p>
                        </div>
                      </div>
                    </li>
                        </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                   <ul class="list-unstyled timeline">
                  

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
     
                        </div>
                      </div>
                    </div>



              



              </div>
              </div>
              </div>
        <!-- /page content -->





                <!-- end of weather widget -->
              </div>
            </div>
          </div>
        </div>

        </div>
        <!-- /page content -->



<style type="text/css">

.tag_red {
    display: block;
    height: 30px;
    font-size: 13px;
    padding: 8px;
}
.tag_red {
    line-height:1;
    background:#bb1a1a;
    color:#fff!important
}

.tag_red:after{
    content:" ";
    height:30px;
    width:0;
    position:absolute;
    left:100%;
    top:0;
    margin:0;
    pointer-events:none;
    border-top:14px solid transparent;
    border-bottom:14px solid transparent;
    border-left:11px solid #bb1a1a
  }

</style>
        {% endblock content %}

        <!-- footer content -->
