{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Personal</span>
              <div class="count">250</div>
              <span class="count_bottom"><i class="green">30+</i> Este Mes</i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Accidentes</span>
              <div class="count">2</div>
              <span class="count_bottom"><i class="green">0+</i> Este Mes</i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Dias Perdidos</span>
              <div class="count">5</div>
              <span class="count_bottom"><i class="green">1+</i> Este Mes</i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Tasa Gravedad</span>
              <div class="count">7</div>
              <span class="count_bottom"><i class="green">2+</i> Este Mes</i></span>
            </div>
          </div>
          <!-- /top tiles -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Perfil y Gestion del Proyecto </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-10 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view" src='{% static "images/logocontru.jpg" %}' class="img-circle profile_img">
                        </div>
                      </div>
                      <h3>Constructora Name</h3>

                      <ul class="list-unstyled user_data">
                        <li><i class="fa fa-map-marker user-profile-icon"></i> San Francisco, edificio 21, Chile
                        </li>

                        <li>
                          <i class="fa fa-briefcase user-profile-icon"></i> Obra
                        </li>
                        <li>
                          <i class="fa fa-tag user-profile-icon"></i> Constructora
                        </li>
                          <li>
                          <i class="fa fa-flag-o user-profile-icon"></i> Inicio: 01/01/2018
                        </li>
                           <li>
                          <i class="fa fa-flag-checkered user-profile-icon"></i> Termino: 01/12/2018
                        </li>
                          <li>
                          <i class="fa fa-users user-profile-icon"></i> Dotacion Max: 300
                        </li>


                      </ul>

                      <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>  Editar Proyecto</a>
                      <br />
                      <br>
                  
                      <a href='{% url "profile:org_users" %}' class="btn btn-primary"><i class="fa fa-sitemap m-right-xs"></i> Organigrama</a>

        


                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div class="profile_title">
                        <div class="col-md-6">
                          <h2>Grafico Actividades</h2>
                        </div>
                        <div class="col-md-6">

                        </div>
                      </div>
                      <!-- start of user-activity-graph -->



                     
                    <div id="chart_plot_01" class="demo-placeholder"></div>
                    <br>
                      <div class="profile_title">
                        <div class="col-md-6">
                          <h2>Modulos Directos </h2>
                        </div>
                        <div class="col-md-6">

                        </div>
                      </div>
                      <br>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
              <a href='/modulo/8/'>
                <div class="x_panel" style="height: auto;">
                 
                    
                    <div class="col-md-12 col-sm-12 col-xs-12">
                              <h2>Programa Prevencion Comité Paritario</h2>
                        </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" data-transitiongoal="50"><small>50% Completado</small> </div>
                      </div>
                            </div>
 
      

</div></a>



</div>

              <div class="col-md-6 col-sm-6 col-xs-12">
              <a href='/modulo/7/'>
                <div class="x_panel" style="height: auto;">
                 
                    
                    <div class="col-md-12 col-sm-12 col-xs-12">
                              <h2>Programa Prev. Administradores</h2>
                        </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" data-transitiongoal="50"><small>50% Completado</small> </div>
                      </div>
                            </div>
 
      

</div></a>



</div>
              <div class="col-md-6 col-sm-6 col-xs-12">
              <a href='/modulo/9/'>
                <div class="x_panel" style="height: auto;">
                 
                    
                    <div class="col-md-12 col-sm-12 col-xs-12">
                              <h2>Registro Indicentes y Accidentes </h2>
                        </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" data-transitiongoal="50"><small>50% Completado</small> </div>
                      </div>
                            </div>
 
      

</div></a>



</div>
              <div class="col-md-6 col-sm-6 col-xs-12">
              <a href='/modulo/12/'>
                <div class="x_panel" style="height: auto;">
                 
                    
                    <div class="col-md-12 col-sm-12 col-xs-12">
                              <h2>Reporteria </h2>
                        </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" data-transitiongoal="50"><small>50% Completado</small> </div>
                      </div>
                            </div>
 
      

</div></a>



</div>


<!--
                <div class="col-md-12 col-sm-9 col-xs-12">
              
                  <div class="x_title">
                  <br>
                    <h2>
                    <br>Tabla Actividades </h2>
                    </div>
                
                  <div class="x_content">
 

                          <div class="panel-body">
                            <div class="table-responsive">
                            <table id=datatable-button class="table table-bordered">
                              <thead>
                                <tr>
                                 
                                  <th>Modulo</th>
                                  <th>SubModulo</th>
                                  <th>Carpeta</th>
                                  <th>Pendientes</th>
                                  <th>Realizados</th>
                                  <th></th>
                            
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  
                                  <td>Protocolos Seremi Salud</td>
                                  <td>Protocolo Planesi</td>
                                  <td>Registro Ingreso de Programa</td>
                                  <td>3</td>
                                  <td>3</td>
                                  <td><a href='/modulo/3/submodulo/3/carpeta/1/' >
                          <button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-eye"></i>
                          </button></a></td>
                                  
                                </tr>
                                <tr>
                                  
                                  <td>Protocolos Seremi Salud</td>
                                  <td>Protocolo Planesi</td>
                                  <td>Registro Ingreso de Programa</td>
                                  <td>3</td>
                                  <td>3</td>
                                  <td><a href='/modulo/3/submodulo/3/carpeta/1/' >
                          <button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-eye"></i>
                          </button></a></td>
                                  
                                </tr>
                                <tr>
                                  
                                  <td>Protocolos Seremi Salud</td>
                                  <td>Protocolo Planesi</td>
                                  <td>Registro Ingreso de Programa</td>
                                  <td>3</td>
                                  <td>3</td>
                                  <td><a href='/modulo/3/submodulo/3/carpeta/1/' >
                          <button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-eye"></i>
                          </button></a></td>
                                  
                                </tr>
                                <tr>
                                  
                                  <td>Protocolos Seremi Salud</td>
                                  <td>Protocolo Planesi</td>
                                  <td>Registro Ingreso de Programa</td>
                                  <td>3</td>
                                  <td>3</td>
                                  <td><a href='/modulo/3/submodulo/3/carpeta/1/' >
                          <button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-eye"></i>
                          </button></a></td>
                                  
                                </tr>
                                                                <tr>
                                  
                                  <td>Protocolos Seremi Salud</td>
                                  <td>Protocolo Planesi</td>
                                  <td>Registro Ingreso de Programa</td>
                                  <td>3</td>
                                  <td>3</td>
                                  <td><a href='/modulo/3/submodulo/3/carpeta/1/' >
                          <button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-eye"></i>
                          </button></a></td>
                                  
                                </tr>
                                                             <tr>
                                  
                                  <td>Protocolos Seremi Salud</td>
                                  <td>Protocolo Planesi</td>
                                  <td>Registro Ingreso de Programa</td>
                                  <td>3</td>
                                  <td>3</td>
                                  <td><a href='/modulo/3/submodulo/3/carpeta/1/' >
                          <button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-eye"></i>
                          </button></a></td>
                                  
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        </div>
                        </div>

                      -->
    
</div>
</div>
</div>
</div>
</div>
</div>



{% endblock content %}



{% block content2 %}


<script type="text/javascript">
function init_PNotify(){"undefined"!=typeof PNotify&&(console.log("init_PNotify"),new PNotify({title:"Actividad Diaria",type:"info",text:"Capacitar 20 tazadores para Try hovering over me. You can click things behind me",addclass:"info",styling:"bootstrap3",hide:!1,before_close:function(a){return a.update({title:a.options.title+" - Enjoy your Stay",before_close:null}),a.queueRemove(),!1}}))}


</script>
      
        <!-- footer content -->


{% endblock content2 %}

