{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Personal</span>
              <div class="count">250</div>
              <span class="count_bottom"><i class="green">30+</i> Ultima semana</i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Dias sin accidentes </i></span>
              <div class="count green">30</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i></i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Accidentes</i></span>
              <div class="count">1</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i> </i> Ultima semana</i></span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Actividades cumplidas</i></span>
              <div class="count">60</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>29 </i>Ultima semana</span>
            </div>
          </div>
          <!-- /top tiles -->
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Perfil del Proyecto </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view" src='{% static "images/logocontru.jpg" %}' class="img-circle profile_img">
                        </div>
                      </div>
                      <h3>Constructora Name</h3>

                      <ul class="list-unstyled user_data">
                        <li><i class="fa fa-map-marker user-profile-icon"></i> San Francisco, edificio 21, Chile
                        </li>

                        <li>
                          <i class="fa fa-briefcase user-profile-icon"></i> Obra
                        </li>
                        <li>
                          <i class="fa fa-tag user-profile-icon"></i> Constructora
                        </li>
                          <li>
                          <i class="fa fa-flag-o user-profile-icon"></i> Inicio: 01/01/2018
                        </li>
                           <li>
                          <i class="fa fa-flag-checkered user-profile-icon"></i> Termino: 01/12/2018
                        </li>
                          <li>
                          <i class="fa fa-users user-profile-icon"></i> Dotacion Max: 300
                        </li>


                        <li class="m-top-xs">
                          <i class="fa fa-external-link user-profile-icon"></i>
                          <a href="http://www.kimlabs.com/profile/" target="_blank">www.kimlabs.com</a>
                        </li>
                      </ul>

                      <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Editar Proyecto</a>
                      <br />

                      <!-- start skills -->
                      <h4>Informacion de mando:</h4>
                      <ul class="list-unstyled user_data">
                        <li>
                          <p>Gerente:</p>
                        <i class="fa fa-globe user-profile-icon"></i> Steve Jobs
                        </li>
                        <li>
                          <p>Administrador:</p>
                        <i class="fa fa-gear user-profile-icon"></i> Bill Gates
                        </li>
                        </li>
                        <li>
                          <p>Supervisor:</p>
                        <i class="fa fa-search user-profile-icon"></i> Steve Wozniak
                        </li>
                      </ul>
                      <!-- end of skills -->


                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div class="profile_title">
                        <div class="col-md-6">
                          <h2>User Activity Report</h2>
                        </div>
                        <div class="col-md-6">

                        </div>
                      </div>
                      <!-- start of user-activity-graph -->



                     
                    <div id="chart_plot_01" class="demo-placeholder"></div>

                    
<div>
                <div class="col-md-12 col-sm-12 col-xs-12">
              
                  <div class="x_title">
                  <br>
                    <h2>
                    <br>Tabla Actividades </h2>
                    </div>
                  <div class="x_content">

                  <table id="datatable-button" class="table table-bordered" role="grid" aria-describedby="datatable_info">
                 
                      <thead>
                        <tr>
                        <th>Ver</th>
                          <th>Nombre</th>
                          <th>Cargo</th>
                          <th>Cargadas</th>
                          <th>Completas</th>
                          <th>Incompletas</th>
                          
                        </tr>
                      </thead>


                      <tbody>
                      {% if obj_profiles %}
                        {% for obj in obj_profiles %}
                        <tr>
                        <td><a href='/actividades' >
                          <button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-eye"></i>
                          </button></a></td>
                          <td>{{ obj.user.first_name }} {{ obj.user.last_name }}</td>
                          <td>{{ obj.cargo }}</td>
                          <td>23</td>
                          <td><a href="#">20</a></td>
                          <td><a href="#">5</a></td>
                        

                        </tr>
                        {% endfor %}
                        {% endif %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>      
</div>
</div>
</div>
</div>
</div>
</div>



{% endblock content %}



{% block content2 %}


<script type="text/javascript">
function init_PNotify(){"undefined"!=typeof PNotify&&(console.log("init_PNotify"),new PNotify({title:"Actividad Diaria",type:"info",text:"Capacitar 20 tazadores para Try hovering over me. You can click things behind me",addclass:"info",styling:"bootstrap3",hide:!1,before_close:function(a){return a.update({title:a.options.title+" - Enjoy your Stay",before_close:null}),a.queueRemove(),!1}}))}


</script>


<script type="text/javascript">
$(document).ready(function() {
    $('#datatable-button').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            {
                extend: "copy",
                className:"btn-sm",

            },
            {
                extend: "csv",
                className:"btn-sm",

            },
            {
                extend: "print",
                className:"btn-sm",

            },


        ],
        responsive: !100
    } );
    } );
</script>        
        <!-- footer content -->


{% endblock content2 %}

