{% extends "base.html" %}
{% load staticfiles %}

{% block head %}


		<div class="wrapper">

				<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
						<!--
								Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

								Tip 2: you can also add an image using data-image tag
						-->

						<div class="logo">
								<a href="http://www.creative-tim.com" class="simple-text">
										Preventec
								</a>
						</div>

						<div class="sidebar-wrapper">
								<ul class="nav">
								<li>	
									<li class="active">	
									<a href='{% url "profile:principal" %}'>
										<i class="material-icons">dashboard</i>
											<p>Inicio</p>
											</a>
											</li>
										</li>
										<li>
										<li class="active">

										<li>

												<a href='{% url "profile:list" %}'>
													<i class="material-icons">person</i>
												<p>Quienes somos</p>
											</a>
										</li>
										<li>
												<a href='{% url "profile:tres" %}'>
														<i class="material-icons">phone</i>
														<p>Contacto</p>
												</a>
										</li>
										<li>
												<a href='{% url "profile:cuatro" %}'>
														<i class="material-icons">room</i>
														<p>Maps</p>
												</a>
										</li>
	
										<li class="active-pro">
												<a href="upgrade.html">
														<i class="material-icons">unarchive</i>
														<p>Upgrade to PRO</p>
												</a>
										</li>
								</ul>
						</div>
				</div>
{% endblock head %}


{% block content %}





	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-lg-5">
	                        <div class="card">
	                            <div class="card-header" data-background-color="purple">
	                                <h4 class="title">Login de usuario</h4>
	                                <p class="category">Poravor, ingrese sus datos para acceder</p>
	                            </div>
	                            <div class="card-content">
	                               	<form action="" method="post" role="form" enctype='multipart/form-data'>
	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">

													<label class="control-label">Usuario</label>
													<input id="username" name="username" type="text" class="form-control" >
												</div>
	                                        </div>
	                                    </div>
	                                    <div class="row">
	                                        <div class="col-md-12">
												<div class="form-group label-floating">
													<label class="control-label">Contraseña</label>
													<input id="password" name="password" type="password" class="form-control" >
																	{% csrf_token %}
									
												<center><button class="button btn btn-success btn-large">Sign In</button></center>
												</div>
	                                        </div>
	                                    </div>
	                                 </form>
	                            </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>





<script src='{% static "js/signin.js" %}'></script>


{% endblock content %}