{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Modulos</h3>
              </div>

              <div class="title_right">
              
                  <div class="input-group">

                      
                  </div>
                </div>
                
              </div>
              <!--

                <div class="title_right">
                <form method='GET' action='' class='row'>
                <div class="col-md-3 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">

                      <div class="input-group">
                                                                                                 
                          </div>

                         <div class="form-group">
                        <div class="col-md-8 col-sm-2 col-xs-7">
                              <select class="form-control" id="id_modules" name="modules">
                                    <option value="" selected="selected">Ver Todos</option>
                                    <option value="1">Disposiciones Legales</option>
                                    <option value="2">Programa Corporativo Prevención de Riesgos</option>
                                    <option value="4">Plan de Emergencias</option>
                                    <option value="5">Vigilancia Ambiental (D.S. 594)</option>
                                    <option value="6">Estadisticas</option>
                                    <option value="7">Programa Prevención de Administradores</option>
                                    <option value="8">Programa Prevención Comité Paritario</option>
                                    <option value="9">Registro Incidentes y Accidentes</option>
                                    <option value="10">Auditorías Internas</option>
                                    <option value="11">Test Alcohol y Drogas</option>
                                    <option value="12">Reportería</option>
                                    <option value="3">Protocolos SEREMI Salud</option>
                                    </select>

                        </div>
                        <button type="submit" class="btn btn-primary">Filtrar</button>

                         
                      </div>
                      


                  </div>
                </div>
                </form>
              </div>
            </div>

menu profile quick info -->
<br>
<br>

                     
            <div class="row">

{% for  obj_all in queryset_list %}


              <div class="col-md-6 col-sm-6 col-xs-6">
              <a href='{% url "profile:module" obj_all.id %}'>
                <div class="x_panel" style="height: auto;">
                 
                    
                    <div class="col-md-12 col-sm-0 col-xs-6">
                              <h2>{{ obj_all.nombre }}</h2>
                        </div>
                            <div class="col-md-8 col-sm-5 col-xs-5">
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" data-transitiongoal="50"><small>50% Completado</small> </div>
                      </div>
                            </div>
 
      

</div>

</div>





{% endfor %}


</div>
</div>

</div>
</a>




 

 {% endblock content %}



                  <div class="x_content" style="display: none;">


                 
                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

                      {% for obj in obj_get.submodulo.all|dictsort:"nombre" %}
                      <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="heading{{ obj.id }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ obj.id }}" aria-expanded="false" aria-controls="collapse{{ obj.id }}">
                              <div class="col-md-5 col-sm-0 col-xs-0">
                              <h4 class="panel-title">{{ obj.nombre }}</h4>
</div>
                            <div class="col-md-2 col-sm-0 col-xs-0">
                             <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                            </div>
                            </div>
                            

                              <small>80% Completado</small> 
                              </a>
                        <div id="collapse{{ obj.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ obj.id }}">
                          <div class="panel-body">
                           <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat">
                            </th>
                            <th class="column-title">Nombre</th>
                            <th class="column-title">Estado</th>
                            <th class="column-title">Responsable</th>
                            <th class="column-title">Archivo</th>
                          
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                          </tr>
                        </thead>

                              <tbody>

                               {% for carpeta in obj.carpeta.all  %}

                          <tr class="even pointer">
                            <td class="a-center ">
                              <input type="checkbox" class="flat" name="table_records">
                            </td>  
                                  <td>{{ carpeta.nombre }}</td>
                                  <td>
                                  <button type="button" class="btn btn-danger btn-xs">{{ carpeta.estado }}</button></td>                               
                                  
                                  <td>Sin Asignar</td>
                                
                                 
                                  <td>{% if carpeta.archivo %}<a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a></li>{% else %}Vacio{% endif %}</td>
                                  
                                </tr>
           
                              </tbody>
                              {% endfor %}
                            </table>
                          </div>
                        </div>
                        </div>

                        {% endfor %}


 

</div>
</div>

</div>
</div>
</div>

