{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
              <a href="/modulos">Modulos <i class="fa fa-backward"></i></a>  
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <div class="col-md-5 col-sm-6 col-xs-12">
                              <h2>{{ obj_get.nombre }}</h2>
                        </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" data-transitiongoal="65"></div>
                      </div>
                            </div>
                            

                              <small>50% Completado</small> 
                              </a>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- start accordion -->
      


                 
                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

                      {% for obj in obj_get.submodulo.all|dictsort:"nombre" %}
                      <div class="panel">
                        <a class="panel-heading collapsed" role="tab" id="heading{{ obj.id }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ obj.id }}" aria-expanded="false" aria-controls="collapse{{ obj.id }}">
                              <div class="col-md-5 col-sm-6 col-xs-12">
                              <h4 class="panel-title">{{ obj.nombre }}</h4>
</div>
                            <div class="col-md-2 col-sm-2 col-xs-4">
                             <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                            </div>
                            </div>
                            

                              <small>80% Completado</small> 
                              </a>
                        <div id="collapse{{ obj.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ obj.id }}">
                          <div class="panel-body">
                           <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                            
                            </th>
                            <th class="column-title">Nombre</th>
                            <th class="column-title">Estado</th>
                            <th class="column-title">Responsable</th>
                            <th class="column-title">Archivo</th>
                            <th class="column-title">Facha Carga</th>
                          
                            </th>
                            <th class="bulk-actions" colspan="7">
                              <a class="antoo" style="color:#fff; font-weight:500;">Seleccion masiva ( <span class="action-cnt"> </span> ) &nbsp;&nbsp;&nbsp;     <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm">Asignar</button></a>
                            </th>
                          </tr>
                        </thead>

                              <tbody>

                               {% for carpeta in obj.carpeta.all|dictsort:"id"  %}

                          <tr class="even pointer">
                            <td class="a-center ">
                              
                         
                            </td>  

                                  <td><a href='{% url "profile:carpeta"  obj_get.id carpeta.id %}'>{{ carpeta.nombre }}</td>
                                  
                                  <td>
                                  {% if carpeta.estado == "Cargado" %}<button type="button" class="btn btn-success btn-xs">{{ carpeta.estado }}</button>{% else %}  <button type="button" class="btn btn-danger btn-xs">{{ carpeta.estado }}</button> {% endif %} </td></a>                               
                                  
                                  <td>{% if carpeta.user_asign %}{{ carpeta.user_asign }} {% else %}Sin Asignar {% endif %}</td>
                                
                                 
                                  <td>{% if carpeta.estado == "Cargado" %}<a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a></li>{% else %}Vacio{% endif %}</td>
                                  <td>{% if carpeta.fecha_termino %}{{ carpeta.fecha_termino }} {% else %}No Cargado {% endif %}</td>
                                  
                                </tr>
           
                              </tbody>
                              {% endfor %}
                            </table>
                          </div>
                        </div>
                        </div>
                        </div>

                        {% endfor %}


 

</div>
</div>

</div>
</div>
</div>
</div>
</div>






{% endblock content %}


{% block content2 %}


<script>
    $(document).ready(function(){
      var date_input=$('input[name="fecha_inicio"]'); //our date input has the name "birthdate"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>

<script>
    $(document).ready(function(){
      var date_input=$('input[name="fecha_termino"]'); //our date input has the name "birthdate"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>


{% endblock content2 %}
