{% extends "base.html" %}
{% load staticfiles %}

{% block content %}




        <!-- page content -->
      <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
              <a href="/modulos">Modulos <i class="fa fa-backward"></i></a> 
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <div class="col-md-5 col-sm-6 col-xs-12">
                              <h2><i class="fa fa-cubes"></i>&nbsp;&nbsp;{{ obj_get.nombre }}</h2>
                        </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" data-transitiongoal="65"></div>
                      </div>
                            </div>
                            

                              <small>50% Completado</small> 
                              </a>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- start accordion -->
      


                 
                    <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

                      {% for obj in obj_get.submodulo.all|dictsort:"id" %}
                     
                      <div class="panel">
                        <a class="panel-heading collapsed" href='{% url "profile:submodule"  obj_get.id obj.id  %}' aria-expanded="false" aria-controls="collapse{{ obj.id }}">
                              <div class="col-md-5 col-sm-6 col-xs-12">
                              <h4 class="panel-title"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;{{ obj.nombre|truncatechars_html:45 }}</h4>
</div>
                            <div class="col-md-2 col-sm-2 col-xs-4">
                             <div class="progress progress_sm">
                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                            </div>
                            </div>
                            

                              <small>17% Completado</small> 
                              </a>
                          <div id="collapse{{ obj.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ obj.id }}">





                        </div>
                        </div>
                        </a>

                        {% endfor %}
                

                      
                    <!-- end of accordion -->

<style type="text/css">
  .accordion .panel-heading2 {
    background: #f7f7f7;
    padding: 13px;
    width: 100%;
    display: block;
}
</style>
                  </div>
                </div>
              </div>
                    <!-- end of accordion -->


</div>
</div>

</div>
</div>
</div>
</div>
</div>






{% endblock content %}


{% block content2 %}


 
 <script type="text/javascript">

$(document).ready(function () {
        //when a group is shown, save it as the active accordion group
        $("#accordion").on('shown.bs.collapse', function () {
            var active = $("#accordion .in").attr('id');
            $.cookie('activeAccordionGroup', active);
          //  alert(active);
        });
        $("#accordion").on('hidden.bs.collapse', function () {
            $.removeCookie('activeAccordionGroup');
        });
        var last = $.cookie('activeAccordionGroup');
        if (last != null) {
            //remove default collapse settings
            $("#accordion .panel-collapse").removeClass('in');
            //show the account_last visible group
            $("#" + last).addClass("in");
        }
    });


</script>



{% endblock content2 %}
