{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
               <div class="col-md-12 col-sm-12 col-xs-12">
           {% if not instance %}
                             Crear Nuevo Usuario <i class="fa fa-hand-o-left"></i>
                             &nbsp;&nbsp;&nbsp;  Creacion del Perfil <i class="fa fa-hand-o-left"></i>
                             &nbsp;&nbsp;&nbsp; <a href='#Usted esta Aqui.'> Perfil Laboral <i class="fa fa-hand-o-down"></i></a>
                               &nbsp;&nbsp;&nbsp; Carga de Documentacion <i class="fa fa-hand-o-right"></i>

 {% else %}

   
                             <a href='/perfil-detalle/{{ instance.id }}/'>Perfil de Usuario <i class="fa fa-hand-o-left"></i></a>

                             &nbsp;&nbsp;&nbsp;  Editar Perfil <i class="fa fa-hand-o-left"></i>
                             &nbsp;&nbsp;&nbsp;  <a href='#Usted esta Aqui.'> Editar Perfil laboral <i class="fa fa-hand-o-down"></i></a>
                               &nbsp;&nbsp;&nbsp;  Carga de Documentacion <i class="fa fa-hand-o-right"></i>

                               
        

  {% endif %}

                               
        
</div> 

              <div class="title_right">

              </div>
            </div>

            <div class="clearfix"></div>
<br>
            <div class="">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-user"></i> Ingresar Datos de Obra</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">




                        <form action="" method="POST" role="form" enctype='multipart/form-data' class="form-horizontal form-label-left">
                             <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username"> Usuario
                            </label>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                             <input type="text" value="{{ obj.user.first_name }} {{ obj.user.last_name }}" disabled required="required" class="form-control col-md-7 col-xs-12">
                            </div>

                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="unidad"> Cargo
                            </label>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                              {{ form.cargo }}
                            </div>

                          </div>
                            <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="unidad"> Unidad
                            </label>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                              {{ form.unidad }}
                                <br>
                            </div>


                          </div>

                            <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="unidad"> Comite Paritario
                            </label>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                              {{ form.comite_par }}
                                <br>
                            </div>


                          </div>
                             <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="subcta"> Subcontratista
                            </label>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                              {{ form.subcta }}
                                <br>
                            </div>


                          </div>

  

                              {% csrf_token %}
                              <br>
                              <br>
                              {% if instance %}
                              <a href='/perfil-detalle/{{ obj.id }}/'><button type="button" class="btn btn-default pull-left">Cancelar</button></a>

                              {% else %}
                               <a href='/gestion_usuarios'><button type="button" class="btn btn-default pull-left"><i class="fa fa-chevron-left"></i> Cancelar</button></a>
                               {% endif %}
                        


                           <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-chevron-right"></i> Continuar</button>
                        <div class="col-md-4 col-sm-4 col-xs-4">  
                      <button type="button" class="btn btn-primary ">Guardar</button>
                    </div>

                     



          


</div>
</div>
</div>
</div>
</div>
</div>

 

 {% endblock content %}