{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<div class='col-sm-30 col-sm-offset-99'>
    <!-- CONTENIDO. BLOG VISTA -->
    <!-- Page Content -->
    {% for obj in object_list %}
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-99">

                <h1 class="page-header">
                    Nuevas publicaciones
                </h1>
                <h2>
                <a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a>
                </h2>
                {% if obj.draft %}
                {% endif %}
                <p><span class="glyphicon glyphicon-time">&nbsp;</span>{{ obj.timestamp}}</p>
                <p><span class="glyphicon glyphicon-account">&nbsp;</span><a href="perfil.html">{{ obj.user.username }}</a></p>
                <hr>
                {% if obj.image %}
                <img src='{{ obj.image.url }}' class='img-responsive' />
                {% endif %}
                <hr>
                {% if obj.user.get_full_name %}<p>Autor: {{ obj.user.get_full_name }}</p>{% endif %}
                
                <h6><p>{{ obj.get_markdown|truncatechars_html:120 }}</p></h6>
                {% if request.user.is_authenticated %}
                {% if obj.user == request.user %}
                <a href='{% url "posts:update" obj.slug %}'> Editar</a> |&nbsp;<a id="url" name="{{obj.slug}}"  href='#' class='btn-ExitSystem' value='{{ obj.slug }}'>Borrar</a>
                {% endif %}
                {% endif %}
                <br>
                <br>

                <a class="btn btn-primary" href="{{ obj.get_absolute_url }}">Ver mas<span class="glyphicon glyphicon-chevron-right"></span></a><hr>
            </div>
        </div>
    </div>
    {% endfor %}


</body>



<form method='GET' action='' class='row'>
        <div class='col-sm-6'>
            <div class='input-group'>
                <input class='form-control' type='text' name='q' placeholder='Buscar publicacion' value='{{ request.GET.q }}'/>
                <span class='input-group-btn'>
                    <!-- <input class='btn btn-default' type='submit' value='Search' /> -->
                    <button class='btn btn-primary' type='submit'>Buscar <i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
</form>
<!--

{% for obj in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
        {% if obj.image %}
         <img src='{{ obj.image.url }}' class='img-responsive' />
        {% endif %}
      <div class="caption post-detail-item">
        {% if obj.draft %}<h3>Por:{{ obj.user.username }}</h3>{% endif %} {% if obj.publish > today %}<h3>Por:{{ obj.user.username }}</h3>{% endif %}
        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a> <small>{{ obj.timestamp}}</small></h3>
        {% if obj.user.get_full_name %}<p>Autor: {{ obj.user.get_full_name }}</p>{% endif %}
        {{ obj.get_markdown|truncatechars_html:120 }}
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">Ver</a></p>
      </div>
    </div>
  </div>
<hr/>
</div>
{% endfor %}
-->


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Anterior</a>
        {% endif %}

        <span class="current">
            Pagina {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Siguiente</a>
        {% endif %}
    </span>
</div>


</div>

{% endblock content %}


<br>
<br>
<br>