{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
               <div class="col-md-12 col-sm-12 col-xs-12">
   
                             <a href='/gestion_usuarios'>Gestion de Usuarios <i class="fa fa-hand-o-left"></i></a> &nbsp;&nbsp;&nbsp; <a href='#Usted esta Aqui.'> Perfil de Usuario <i class="fa fa-hand-o-down"></i></a>

                               
        
</div> 
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                   <h2><i class="fa fa-user"></i> Perfil de Usuario <small>Informacion completa</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view" src='{% static "images/menconstru.png" %}' alt="Avatar" title="Change the avatar">
                        </div>
                      </div>
                      {% for obj in object_list %}
                      
                      

                        <br>
                      <a href='{% url "profile:edit" obj.id %}' class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> Editar Perfil</a>
                      
                      <br>
                                          Ultima Actualizacion: <u>{{obj.ultimateupdate|date}}</u>
                    
                      <br>
                      <br>

                      <!-- 
                      <h4></h4>
                      <ul class="list-unstyled user_data">
                        <li>
                          <p>Web Applications</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                          </div>
                        </li>
                        <li>
                          <p>Website Design</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                          </div>
                        </li>
                        <li>
                          <p>Automation & Testing</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                          </div>
                        </li>
                        <li>
                          <p>UI / UX</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                          </div>
                        </li>
                      </ul>
                      < -->

                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div class="profile_title">
                        <div class="col-md-6">
                          <h3>{{ obj.user.first_name }} {{ obj.user.last_name }}</h3>
                        </div>
                        <div class="col-md-6">

                        </div>
                      </div>
                      <!-- start of user-activity-graph -->
                      <!--<div id="graph_bar" style="width:100%; height:280px;"></div> -->
                      <!-- end of user-activity-graph -->
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Datos</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Legales</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Cursos</a>
                          </li>
                        </ul>
                      </div>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                            <!-- start recent activity -->
                         <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">

                <ul class="nav side-menu">
                  

                      &nbsp;&nbsp;&nbsp;  Rut:&nbsp; <u>{{ obj.rut}}</u> 

                     <br>
                     <br> 

                      &nbsp;&nbsp;&nbsp;  Cargo:&nbsp; <u>{{ obj.cargo}}</u> 

                     <br>
                     <br>                 

                      &nbsp;&nbsp;&nbsp;Inicio Cargo:&nbsp; <u>{{obj.inicio_cargo}}</u> 

                     <br>
                     <br>

                     {% if obj.especialidad %}
                     &nbsp;&nbsp;&nbsp;  Especialidad:&nbsp; <u>{{ obj.especialidad }}</u> {% else %}
                     &nbsp;&nbsp;&nbsp;  Especialidad:&nbsp;  <u>  No Asignado</u>{% endif %}
                     <br>
                     <br>

                
                         &nbsp;&nbsp;&nbsp; Fecha Nacimiento:&nbsp; <u>{{obj.birthdate}}</u>

                     <br>
                     <br>


                         &nbsp;&nbsp;&nbsp; Correo Electronico:&nbsp;  <u>{{obj.user.email}}</u>

                     <br>
                     <br>

                      &nbsp;&nbsp;&nbsp; Unidad: &nbsp;  <u>{{obj.unidad }}</u>

                     <br>
                     <br>




                         &nbsp;&nbsp;&nbsp; Comite Paritario:&nbsp;  {% if obj.comite_par %} <i class="fa fa-check user-profile-icon"></i>
                         {% else %} <i class="fa fa-close user-profile-icon"></i>  {% endif %}

                     <br>
                     <br>


                         &nbsp;&nbsp;&nbsp; Subcontratista:&nbsp;  {% if obj.subcta %} <i class="fa fa-check user-profile-icon"></i>{% else %}<i class="fa fa-close user-profile-icon"></i> {% endif %}

                     <br>
                     <br>
                     {% if obj.supervisor %}
                      &nbsp;&nbsp;&nbsp; Supervisor:&nbsp;  <u>{{obj.supervisor }}</u>{% else %}
                      &nbsp;&nbsp;&nbsp; Supervisor:&nbsp;  <u>  No Asignado</u>{% endif %}

                     <br>
                     <br>

                   
                          &nbsp;&nbsp;&nbsp;  Experiencia:&nbsp;  <u> 2 Año </u>

                        </li>

                     </li>

              </div>

            </div>
          

                      </ul>
                   
           </div>


                          </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                           <div class="panel-body">
                          <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                      
                            </th>
                         
                                  <th>Nombre</th>
                                  <th>Archivo</th>
                                  <th>Fecha Carga</th>

                            
                           

                          
                            </th>
                          </tr>
                        </thead>

                              <tbody>

                       

                          <tr class="even pointer">
                            <td class="a-center ">

                            <form id="antoform" action="" method="POST" data-parsley-validate class="form-horizontal form-label-left" enctype='multipart/form-data'>
                                              
                            </td>  
                                  <td>Contrato de Trabajo</td>
                                  <td><i class="fa fa-file-pdf-o"></i> Contrato_Trabajo_Legal.pdf</td>
                                  <td>04 Octubre del 2017</td>

                                 
                                  
                                </tr>
                                <tr class="even pointer">
                                <td class="a-center ">
                                  </td>
                                   <td>Induccion Hombre Nuevo</td>
                                  <td><i class="fa fa-file-pdf-o"></i> Induccion_Nuevo.pdf</td>
                                  <td>04 Octubre del 2017 </td>

                                </tr>
                                <tr class="even pointer">
                                 <td class="a-center ">
                                  </td>
                                  <td>Riesgo Entrega de EPP</td>
                                  <td><i class="fa fa-file-pdf-o"></i> Riesgo_Entrega_EPP.pdf</td>
                                  <td>04 Octubre del 2017 </td>
                                    </tr>
                                           <tr class="even pointer">
                                 <td class="a-center ">
                                  </td>
                                  <td>Riesgo Entrega de Reglamento Interno</td>
                                  <td><i class="fa fa-file-pdf-o"></i> Riesgo_Entrega_R.I.pdf</td>
                                  <td>04 Octubre del 2017 </td>
                                    </tr>
                              </tbody>
                  
                            </table>
                                   </div>
                      
                  


                                         <div class="btn-group">

                      <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage">
                    </div>
                      <button class="btn btn-success dropdown-toggle" type="button" > Subir </button>
                     
                        </div>
                          </div>
            

                    

                   
                          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                           <div class="panel-body">
                          <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                      
                            </th>
                         
                            <th class="column-title">Responsable</th>
                            <th class="column-title">Cargo</th>
                             <th class="column-title">Archivo</th>
                            <th class="column-title">Fecha Carga</th>
                            <th class="column-title">Asistentes</th>
                            <th class="column-title">Firmas</th>

                            
                           

                          
                            </th>
                          </tr>
                        </thead>

                              <tbody>

                       

                         <tr class="even pointer">
                            <td class="a-center ">

                            <form id="antoform" action="" method="POST" data-parsley-validate class="form-horizontal form-label-left" enctype='multipart/form-data'>
                                              
                            </td>  

                                  <td>Steve Jobs
                                  </td>
                                  <td>Gerente</td>
                                  <td><a href=""><i class="fa fa-file-pdf-o"></i> Reglamento_Interno_OHS_1.pdf</a></li></td>
                                  <td>04 Octubre del 2017</td>
                                  <td>10</td>
                                  <td>10</td>

                                 
                                  
                                </tr>
                                <tr class="even pointer">
                                <td class="a-center ">
                                  </td>
                                    <td>Steve Jobs
                                  </td>
                                  <td>Supervisor</td>
 
                              <td><a href=""><i class="fa fa-file-pdf-o"></i> Reglamento_Interno_OHS_2.pdf</a></li></td>
                              <td>04 Octubre del 2017</td>
                              <td>5</td>
                              <td>5</td>

                                </tr>
                                <tr class="even pointer">
                                 <td class="a-center ">
                                  </td>
                                  <td>Bill Gates
                                  </td>
                                  <td>Supervisor</td>
                                  <td><a href=""><i class="fa fa-file-pdf-o"></i> Reglamento_Interno_OHS_3.pdf</a></li></td>
                                  <td>10 Octubre del 2017</td>
                                  <td>7</td>
                                  <td>6</td>
                                    </tr>
           
                              </tbody>
                  
                            </table>

                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endfor %}

        {% endblock content %}