{% extends "base.html" %}
{% load staticfiles %}

{% block head %}


		<div class="wrapper">

				<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
						<!--
								Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

								Tip 2: you can also add an image using data-image tag
						-->

						<div class="logo">
								<a href="http://www.creative-tim.com" class="simple-text">
										Preventec
								</a>
						</div>

						<div class="sidebar-wrapper">
								<ul class="nav">
								<li>	
								<li>	
									<a href='{% url "profile:principal" %}'>
										<i class="material-icons">dashboard</i>
											<p>Principal</p>
											</a>
											</li>
										</li>
										<li>
										<li class="active">

										<li>
										<li class="active">
												<a href='{% url "profile:list" %}'>
													<i class="material-icons">person</i>
												<p>Perfiles Usuarios</p>
											</a>
										</li>
										<li>
												<a href='{% url "profile:tres" %}'>
														<i class="material-icons">content_paste</i>
														<p>Table List</p>
												</a>
										</li>
										<li>
												<a href='{% url "profile:cuatro" %}'>
														<i class="material-icons">library_books</i>
														<p>Typography</p>
												</a>
										</li>
										<li>
												<a href='{% url "profile:cinco" %}'>
														<i class="material-icons">bubble_chart</i>
														<p>Icons</p>
												</a>
										</li>
										<li>
												<a href='{% url "profile:seis" %}'>
														<i class="material-icons">location_on</i>
														<p>Maps</p>
												</a>
										</li>
										<li>
												<a href='{% url "profile:siete" %}'>
														<i class="material-icons text-gray">notifications</i>
														<p>Notifications</p>
												</a>
										</li>
										<li class="active-pro">
												<a href="upgrade.html">
														<i class="material-icons">unarchive</i>
														<p>Upgrade to PRO</p>
												</a>
										</li>
								</ul>
						</div>
				</div>
{% endblock head %}

{% block content %}

	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
	                    <div class="col-md-8">
	                        <div class="card">
	                            <div class="card-header" data-background-color="purple">
	                                <h4 class="title">Ingresar Perfil de usuario</h4>
	                            </div>
	                            <div class="card-content">
	                                	<form action="" method="POST" role="form" enctype='multipart/form-data'>
	                                    <div class="row">
	                                        <div class="col-md-5">
												<div class="form-group label-floating">
													<label class="control-label">Rut</label>
													<input id="rut" name="rut" type="text" class="form-control" value="{{instance.rut}}">
												</div>
	                                        </div>
	                                        <div class="col-md-5">
												<div class="form-group label-floating">
												<label class="control-label">Fecha Nacimiento</label>
												<input class="form-control" id="birthdate" name="birthdate"  value="{{instance.birthdate}}" type="text"/>
												</div>
	                                        </div>
	                                    </div>
	                                    <div class="row">
	                                        <div class="col-md-5">
												<div class="form-group label-floating">
													<label class="control-label"><h4>Foto de Perfil:</h4></label>
													<br>
													</div>
													{{form.avatar}}
												
	                                        </div>
	                                        </div>
	                                    

	                                    <div class="row">
	                                        <div class="col-md-5">
												<div class="form-group label-floating">
													<label class="control-label"><h4>Cargo:</h4></label>
													<br>
													{{form.cargo}}
												</div>
	                                        </div>
	                                        <div class="col-md-5">
												<div class="form-group label-floating">
													<label class="control-label"><h4>Especialidad:</h4></label>
													<br>
													{{form.especialidad}}
												</div>
	                                        </div>
	                                    </div>
	                                    <br>


	                                    <div class="row">
	                                        <div class="col-md-4">
												<div class="form-group label-floating">
													<label class="control-label">Contrato</label>
													<input id="contrato" name="contrato" type="text" class="form-control" value="{{instance.contrato}}" >
												</div>
	                                        </div>
	                                        
	                                        <div class="col-md-4">
												<div class="form-group label-floating">
													<label class="control-label">Legales Acosiados</label>
													<input id="legales_asoc" name="legales_asoc" type="text" class="form-control" value="{{instance.legales_asoc}}">
													{% csrf_token %}
												</div>
	                                        </div>

	                                    </div>

	                                    <div class="row">
	                                        <div class="col-md-12">
	                                            <div class="form-group">
	                                                <label>About Me</label>
													<div class="form-group label-floating">
									    				<label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
								    					<textarea class="form-control" rows="5"></textarea>
		                        					</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                 	

	                                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
	                                    <div class="clearfix"></div>
	                                </form>
	                            </div>
	                        </div>
	                    </div>
						<div class="col-md-4">
    						<div class="card card-profile">
    							<div class="card-avatar">
    								<a href="#pablo">
    									<img class="img" src="../assets/img/faces/marc.jpg" />
    								</a>
    							</div>

    							<div class="content">
    								<h6 class="category text-gray">CEO / Co-Founder</h6>
    								<h4 class="card-title">Alec Thompson</h4>
    								<p class="card-content">
    									Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
    								</p>
    								<a href="#pablo" class="btn btn-primary btn-round">Follow</a>
    							</div>
    						</div>
		    			</div>
	                </div>
	            </div>
	        </div>

{% endblock content %}


{% block content2 %}
<script>
    $(document).ready(function(){
      var date_input=$('input[name="birthdate"]'); //our date input has the name "birthdate"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>

{% endblock content2 %}