{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
              <a href="/modulos/">Modulos <i class="fa fa-backward"></i></a> &nbsp;&nbsp;&nbsp; <a href="/modulo/{{ obj_modulo.id }}">{{ obj_modulo.nombre }} <i class="fa fa-backward"></i></a>  

              </div>
              <br>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <div class="col-md-5 col-sm-6 col-xs-12">
                              <h2>{{ obj_get.nombre }}</h2>
                        </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                      <div class="progress">
                        <div class="progress-bar progress-bar-info" data-transitiongoal="17"></div>
                      </div>
                            </div>
                            

                              <small>17% Completado</small> 
                              </a>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- start accordion -->
      
                          <div class="panel-body">
                          <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th>
                            
                              <input type="checkbox" id="check-all" class="flat">
                              
                            
                            </th>
                         
                            <th class="column-title">Nombre</th>
                            <th class="column-title">Ponder %</th>
                            <th class="column-title">Estado</th>
                            <th class="column-title">Responsable</th>
                            <th class="column-title">Archivo</th>
                            <th class="column-title">Facha Carga</th>
                          
                            </th>
                            <th class="bulk-actions" colspan="7" id="botones">
                              <a class="antoo" style="color:#fff; font-weight:500;">Seleccion masiva ( <span class="action-cnt"> </span> ) &nbsp;&nbsp;&nbsp;     <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm">Asignar</button></a>
                              
                           
                              <button type="button" id="btncarpeta" name="btncarpeta" class="btn btn-info btn-xs" data-toggle="modal" data-target=".bd-example-modal-sm">Duplicar</button>
                          

                            </th>
                          </tr>
                        </thead>

                              <tbody>

                               {% for carpeta in obj_get.carpeta.all|dictsort:"id"  %}

                          <tr class="even pointer">
                            <td class="a-center ">

                            
                            <div id="checkboxes">

                            <input type="checkbox" name="carpeta" value="{{ carpeta.nombre }}"  class="flat"  >
                      

                            </div>
                              
                            </td>  

                                  <td><a href='{% url "profile:carpeta"  id_modulo=obj_modulo.id id_submodulo=obj_get.id id_carpeta=carpeta.id %}'>{{ carpeta.nombre }}</td>
                                  <td>17%</td>
                                  
                                  <td>
                                  {% if carpeta.estado == "Cargado" %}<button type="button" class="btn btn-success btn-xs">{{ carpeta.estado }}</button>{% else %}<button type="button" class="btn btn-danger btn-xs">{{ carpeta.estado }}</button>{% endif %}</td></a>                               
                                  
                                  <td>{{ carpeta.user_asign}}</td>
                                
                                 
                                  <td>{% if carpeta.estado == "Cargado" %}<a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf. + 2</a></li>{% else %}Vacio{% endif %}</td>
                                  <td>{{ carpeta.fecha_carga }}</td>
                                  
                                </tr>
           
                              </tbody>
                              {% endfor %}
                            </table>
                          </div>
                        </div>




                        </div>
                        </div>
                        </a>



<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<form id="antoform" action="" method="POST" data-parsley-validate class="form-horizontal form-label-left" enctype='multipart/form-data'>

                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel2">Duplicar Proceso</h4>
                        </div>
                         <div class="x_content">
                      <div class="form-group">
                        <label class="control-label col-md-5 col-sm-3 col-xs-12" for="user_asign">Nombre <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                        <input class="form-control" id="registroConcepto" name="nombre_carpeta" type="text">
                        </div>
                      </div>

                         <div class="x_content">
                      <div class="form-group">
                        <label class="control-label col-md-5 col-sm-3 col-xs-12" for="user_asign">Usuario <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.user_asign }}
                        </div>
                      </div>
                    
                      <div class="form-group">
                        <label for="fecha_inicio" class="control-label col-md-5 col-sm-3 col-xs-12">Inicio<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.fecha_inicio }}
                        </div>
                      </div>
                        <div class="form-group">
                        <label for="fecha_termino" class="control-label col-md-5 col-sm-3 col-xs-12">Termino<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.fecha_termino }}
                        </div>
                      </div>
                        </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                          <button type="button" class="btn btn-primary">Guardar</button>
                        </div>

                      </div>
                    </div>
</div>
</form>
<form id="antoform" action="" method="POST" data-parsley-validate class="form-horizontal form-label-left" enctype='multipart/form-data'>
                  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel2">Asignar Responsable</h4>
                        </div>
                         <div class="x_content">
                      <div class="form-group">
                        <label class="control-label col-md-5 col-sm-3 col-xs-12" for="user_asign">Usuario <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.user_asign }}
                        </div>
                      </div>
              
                      <div class="form-group">
                        <label for="fecha_inicio" class="control-label col-md-5 col-sm-3 col-xs-12">Inicio<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.fecha_inicio }}
                        </div>
                      </div>
                        <div class="form-group">
                        <label for="fecha_termino" class="control-label col-md-5 col-sm-3 col-xs-12">Termino<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.fecha_termino }}
                        </div>
                      </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                          <button type="button" class="btn btn-primary">Guardar</button>
                        </div>

                      </div>
                    </div>
                  </div>


              </form>
 

</div>
</div>



</div>
</div>
</div>
</div>
</div>





{% endblock content %}


{% block content2 %}



<script type="text/javascript">

    $(document).ready(function(){
      var date_input=$('input[name="fecha_inicio"]'); //our date input has the name "birthdate"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>

<script>
    $(document).ready(function(){
      var date_input=$('input[name="fecha_termino"]'); //our date input has the name "birthdate"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'yyyy-mm-dd',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>

<script type="text/javascript">

$(document).ready(function () {
  /* Get the checkboxes values based on the class attached to each check box *
  /* Get the checkboxes values based on the parent div id */
  $("#btncarpeta").click(function() {
      getValueUsingParentTag();
  });
});

function getValueUsingParentTag(){
  var chkArray = [];
  
  /* look for all checkboes that have a parent id called 'checkboxlist' attached to it and check if it was checked */
  $("#checkboxes input:checked").each(function() {
    chkArray.push($(this).val());
  });
  
  /* we join the array separated by the comma */
  var selected;
  selected = chkArray.join(',') + "";
  
  /* check if there is selected checkboxes, by default the length is 1 as it contains one single comma */
  if(selected.length > 1 ){

   
      document.getElementById("registroConcepto").value=selected;
      
  
  } 

}


</script>






{% endblock content2 %}