{% extends "base.html" %}
{% load staticfiles %}

{% block content %}



        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
             
              <div class="col-md-12 col-sm-12 col-xs-12">
                             <a href='/modulo/{{ obj_modulo.id }}/submodulo/{{ obj_sub.id }}/carpeta/{{ obj_get1.id }}/modelo/{{ obj_template.id }}/'>Generar {{ obj_template.nombre }} <i class="fa fa-hand-o-left"></i></a> &nbsp;&nbsp;&nbsp;
                             <a href='#Usted esta Aqui.'>  <u>Seleccion de Asistentes</u> <i class="fa fa-hand-o-down"></i> </a>
                               &nbsp;&nbsp;&nbsp;  Firmas de Asistentes <i class="fa fa-hand-o-right"></i>
                               &nbsp;&nbsp;&nbsp;  Documento <i class="fa fa-hand-o-right"></i>
                  
                            </div>
            
                 
              <br>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <div class="col-md-6 col-sm-6 col-xs-12">
                              <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;Seleccion de Asistentes</h2>
                        </div>

                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <!-- start accordion -->
      
                          <div class="panel-body">
                            

                        


                     
                          <form action="" method="POST" role="form" enctype='multipart/form-data' class="form-horizontal 
                          form-label-left">
                          <div class="table-responsive">



                      <table id="myexample" class="table table-striped jambo_table bulk_action" cellspacing="0" width="100%">
                        <thead>
                          <tr class="headings">
                            <th> <input type="checkbox" id="checkAll" class="icheckbox_flat-green" name="carpeta"> </th>
                            <th class="column-title">Nombre</th>
                            <th class="column-title">Apellido</th>
                            <th class="column-title">Rut</th>
                            <th class="column-title">Cargo</th>

                          
                          </tr>
                        </thead>
                         <tfoot>
                          <tr class="headings">
                            <th></th>
                            <th class="column-title"></th>
                            <th class="column-title"></th>
                            <th class="column-title"></th>
                            <th class="column-title">Cargo</th>
                           
                          
                          </tr>
                        </tfoot>
                          <tbody>
                            
                            {% for obj in obj_list %}

                          <tr>
                            <td>  
                            <div id="checkboxes">


                            <input class="icheckbox_flat-green"  id="id_firmas_{{ obj.id }}" name="firmas" type="checkbox" value="{{ obj.id }}">
                         

                          
                  

                            </div>                           
                            </td>  
                                  <td>{{ obj.user.first_name }}</td>
                                  <td>{{ obj.user.last_name }}</td>
                                  <td>{{ obj.rut }}</td>
                                  <td>{{ obj.cargo }}</td>
                                                      
                                  
                                  
                                
                              
                                
                                </tr>
                                {% endfor %}

                              </tbody>
                          
                            </table>
                          </div>
                        </div>


                          
                      




                        <a href='{% url "profile:carpeta"  obj_modulo.id obj_sub.id obj_get1.id %}'><button type="button" class="btn btn-default pull-left"><i class="fa fa-chevron-left"></i>  Cancelar</button></a>
                          <!--

                          <button type="submit" class="btn btn-primary pull-right">Guardar y Continuar</button>
                        -->


<a href='{% url "profile:firmas_asist"  obj_modulo.id obj_sub.id obj_get1.id  obj_get.id obj_template.id %}'><button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-chevron-right"></i>  Continuar</button></a>

                            <div class="col-md-4 col-sm-4 col-xs-4">  
                              {% csrf_token %}
                     <input type="submit" class="btn btn-primary " name="Guardar" value="Guardar">
                      </form>
                    </div>
                        </div>
                        </div>
                        </a>
                        



</div>
</div>
</div>
</div>
</div>
{% endblock content %}


{% block content2 %}


<script type="text/javascript">
$("#checkAll").click(function () {
    $(".icheckbox_flat-green").prop('checked', $(this).prop('checked'));
});


</script>

<script type="text/javascript">
$(document).ready(function() {
  $('#myexample').DataTable( {
    initComplete: function () {
        
    this.api().columns([4]).every( function () {
        var column = this;
        var select = $('<select><option value="">Ver Todos</option></select>')
          .appendTo( $(column.footer()).empty() )
          .on( 'change', function () {
            var val = $.fn.dataTable.util.escapeRegex(
              $(this).val()
            );

            column
              .search( val ? '^'+val+'$' : '', true, false )
              .draw();
          } );

        column.data().unique().sort().each( function ( d, j ) {
          select.append( '<option value="'+d+'">'+d+'</option>' )
        } );
      } );
    }
  } );
} );



</script>
{% endblock content2 %}