{% extends "base.html" %}
{% load staticfiles %}


{% block head %}


		<div class="wrapper">

				<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
						<!--
								Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

								Tip 2: you can also add an image using data-image tag
						-->

						<div class="logo">
								<a href="http://www.creative-tim.com" class="simple-text">
										Preventec
								</a>
						</div>

						<div class="sidebar-wrapper">
								<ul class="nav">
								<li>	
								<li>	
									<a href='{% url "profile:principal" %}'>
										<i class="material-icons">dashboard</i>
											<p>Principal</p>
											</a>
											</li>
										</li>
										<li>
										<li class="active">

										<li>
										<li class="active">
												<a href='{% url "profile:list" %}'>
													<i class="material-icons">person</i>
												<p>Perfiles Usuarios</p>
											</a>
										</li>
										<li>
												<a href='{% url "profile:tres" %}'>
														<i class="material-icons">content_paste</i>
														<p>Table List</p>
												</a>
										</li>
										<li>
												<a href='{% url "profile:cuatro" %}'>
														<i class="material-icons">library_books</i>
														<p>Typography</p>
												</a>
										</li>
										<li>
												<a href='{% url "profile:cinco" %}'>
														<i class="material-icons">bubble_chart</i>
														<p>Icons</p>
												</a>
										</li>
										<li>
												<a href='{% url "profile:seis" %}'>
														<i class="material-icons">location_on</i>
														<p>Maps</p>
												</a>
										</li>
										<li>
												<a href='{% url "profile:siete" %}'>
														<i class="material-icons text-gray">notifications</i>
														<p>Notifications</p>
												</a>
										</li>
										<li class="active-pro">
												<a href="upgrade.html">
														<i class="material-icons">unarchive</i>
														<p>Upgrade to PRO</p>
												</a>
										</li>
								</ul>
						</div>
				</div>
{% endblock head %}


{% block content %}


	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">
						<div class="col-lg-12 col-md-28">
							<div class="card card-nav-tabs">
								<div class="card-header" data-background-color="purple">
									<div class="nav-tabs-navigation">
										<div class="nav-tabs-wrapper">
											<span class="nav-tabs-title">Funciones:</span>
											<ul class="nav nav-tabs" data-tabs="tabs">
												<li class="active">
													<a href="#profile" data-toggle="tab">
														<i class="material-icons">group</i>
														Perfiles
													<div class="ripple-container"></div></a>
												</li>
												<li class="">
													<a href="#messages" data-toggle="tab">
														<i class="material-icons">person_add</i>
														Registrar
													<div class="ripple-container"></div></a>
												</li>
												<li class="">
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">cloud</i>
														Server
													<div class="ripple-container"></div></a>
												</li>
											</ul>
										</div>
									</div>
								</div>

								<div class="card-content">
									<div class="tab-content">
										<div class="tab-pane active" id="profile">
											<table class="table">
												<tbody>
													<tr>
		        										<div class="content">
	            									<div class="container-fluid">
	                									<div class="row">

	                                			<h4 class="title">Lista Perfiles</h4>
												<p class="category">Usuarios creados</p>
	                            					</div>
	                            					<br>
													</tr>
													<tr>
								<form id="myform" method="post">
								<table id="example" class="table table-border table-striped table-hover" >
            					<thead>
				               		<tr> 
				                    <td>Usuario</td>
				                    <td>Inicio Cargo</td>
				                    <td>Nombre</td>
				                    <td>Apellido</td>
				                    <td>Cargo</td>
				                    <td>Especialidad</td>
				                    <td>Ultima modificacion</td>
				                    <td></td>
						            </tr>
						            </thead>
						            <tfoot>
						                <tr>

						                    <td>Usuario</td>
						                    <td>Inicio Cargo</td>
						                    <td>Nombre</td>
						                    <td>Apellido</td>
						                    <td>Cargo</td>
						                    <td>Especialidad</td>
						                    <td>Ultima modificacion</td>
						                    <td></td> 
						                    {% if pedido %}
						                    <td><a href="{% url "usuario:entregar" id_especialidad=especialidad.id %}#" method='GET' type="submit" class="btn btn-success pull-right" value="editar" onclick="document.location.reload();"/>Entregar</a></td>
						                    {% endif %}
						                </tr>
						            </tfoot>
						            <tbody>
						        {% if queryset_list  %}
						        {% for query in queryset_list  %}
						                <tr>
						                    <td>{{ query.user.username }}</td>
						                    <td>{{ query.inicio_cargo }}</td>
						                    <td>{{ query.user.first_name }}</td>
						                    <td>{{ query.user.last_name }}</td>
						                    <td>{{ query.cargo }}</td>
						                    <td>{{ query.especialidad }}</td>
						                    <td>{{ query.ultimateupdate }}</td>
						                    <td><a href='{% url "profile:update" id_profile=query.id %}' >
														<i class="material-icons">edit</i>
														Editar</a></td>
						                </tr>
						        {% endfor %}
						        {% endif %}
						           </tbody>
						           </table>
									</form>
													</tr>
													<tr>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="tab-pane" id="messages">
											<table class="table">
												<tbody>
													<tr>
		        										<div class="content">
	            									<div class="container-fluid">
	                									<div class="row">

	                                			<h4 class="title">Ingresar usuario</h4>
												<p class="category">Complete los datos</p>
	                            					</div>

								<div class="card-content">
	                                <form action="" method="POST" role="form" enctype='multipart/form-data'>

	                                    <div class="row">
	                                        <div class="col-md-5">
												<div class="form-group label-floating">

													<label class="control-label">Nombre usuario</label>

													<input id="username" name="username" type="text" class="form-control" >
												</div>
	                                        </div>
	                                        <div class="col-md-3">
												<div class="form-group label-floating">
													<label class="control-label">Correo</label>
													<input id="email" name="email" type="text" class="form-control" >
												</div>
	                                        </div>
	                                        <div class="col-md-4">
												<div class="form-group label-floating">
													<label class="control-label">Contraseña</label>
													<input id="password" name="password" type="password" class="form-control" >
												</div>
	                                        </div>
	                                    </div>

	                                    <div class="row">
	                                        <div class="col-md-6">
												<div class="form-group label-floating">
													<label class="control-label">Nombre</label>
													<input id="first_name" name="first_name" type="text" class="form-control" >
												</div>
	                                        </div>
	                                        <div class="col-md-6">
												<div class="form-group label-floating">
													<label class="control-label">Apellido</label>
													{% csrf_token %}
													<input id="last_name" name="last_name" type="text" class="form-control" >
												</div>
	                                        </div>
	                                    </div>


	                                    <button type="submit" class="btn btn-primary pull-right">Crear Usuario</button>
	                                    <div class="clearfix"></div>
	                                </form>
	                            </div>
	                        </div>
	                    </div>
													</tr>
												</tbody>
											</table>
										</div>
								<div class="tab-pane" id="settings">
											<table class="table">
												<tbody>
													<tr>
														<td>
															<div class="checkbox">
																<label>
																	<input type="checkbox" name="optionsCheckboxes">
																</label>
															</div>
														</td>
														<td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
																<i class="material-icons">edit</i>
															</button>
															<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
																<i class="material-icons">close</i>
															</button>
														</td>
													</tr>
													<tr>
														<td>
															<div class="checkbox">
																<label>
																	<input type="checkbox" name="optionsCheckboxes" checked>
																</label>
															</div>
														</td>
														<td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
														</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
																<i class="material-icons">edit</i>
															</button>
															<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
																<i class="material-icons">close</i>
															</button>
														</td>
													</tr>
													<tr>
														<td>
															<div class="checkbox">
																<label>
																	<input type="checkbox" name="optionsCheckboxes">
																</label>
															</div>
														</td>
														<td>Sign contract for "What are conference organizers afraid of?"</td>
														<td class="td-actions text-right">
															<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
																<i class="material-icons">edit</i>
															</button>
															<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
																<i class="material-icons">close</i>
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

<!--

						<div class="col-md-4">
    						<div class="card card-profile">
    							<div class="card-avatar">
    								<a href="#pablo">
    									<img class="img" src="../assets/img/faces/marc.jpg" />
    								</a>
    							</div>

    							<div class="content">
    								<h6 class="category text-gray">CEO / Co-Founder</h6>
    								<h4 class="card-title">Alec Thompson</h4>
    								<p class="card-content">
    									Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
    								</p>
    								<a href="#pablo" class="btn btn-primary btn-round">Follow</a>
    							</div>
    						</div>
		    			</div>
	                </div>
	            </div>
	        </div>

-->

{% endblock content %}


{% block content2 %}

    <script>
$(document).ready(function (){
   var table = $('#example').DataTable({
    "language": idioma_español,


    stateSave: true


});
    

});

var idioma_español = {
    "sProcessing":     "Procesando...",
    "sLengthMenu":     "Mostrar _MENU_ registros",
    "sZeroRecords":    "No se encontraron resultados",
    "sEmptyTable":     "Ningún dato disponible en esta tabla",
    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
    "sInfoPostFix":    "",
    "sSearch":         "Buscar:",
    "sUrl":            "",
    "sInfoThousands":  ",",
    "sLoadingRecords": "Cargando...",
    "oPaginate": {
        "sFirst":    "Primero",
        "sLast":     "Último",
        "sNext":     "Siguiente",
        "sPrevious": "Anterior"
    },
    "oAria": {
        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
    }
}

</script>
{% endblock content2 %}