{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
          
              </div>

            </div>

            <div class="clearfix"></div>

            <div class="">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-users"></i> Gestion de Usuarios<small>Editar y Agregar</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <div class="panel" id="panel" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Resumen</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Lista</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                          <p>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Total por Cargos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="table-responsive">

                    <div id="echart_pie" style="height:350px;"></div>
                  </div>

                  </div>
                </div>
              </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Total por Especialidades</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="table-responsive">

                    <div id="echart_pie2" style="height:350px;"></div>
                  </div>

                  </div>
                </div>
                <br>
                  <br>
                 
              </div>



                    <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
               <h2><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;Usuarios Incompletos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

      
                          <div class="panel-body">
                            


                          <div class="table-responsive">

                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr >
                         
                            <th class="column-title">Nombre</th>
                            <th class="column-title">Apellido</th>
                            <th class="column-title">Cargo</th>
                            <th class="column-title">Supervisor</th>
                            <th class="column-title">Faltante</th>
                            <th class="column-title">Continuar</th>
                          

                          </tr>
                        </thead>

                              <tbody>

                            

                          <tr> 

                                  <td><a href='#'>  Manuel</a></td>
                        
                                  
                                  <td>
                                    Blanco
                                  </td>                               
                                  
                                  <td>Supervisor</td>

                                  <td> No Aplica</td>
                                
                                 
                                  <td>Creacion del Perfil</td>



                                  <td><a href="/crear_perfil_staff/8/"><button type="button"  class="btn btn-primary btn-simple btn-xs">
                                    <i class="fa fa-chevron-right"></i></button></a>
                                   
                                  </td>


                             
                          </tr>
                          <tr class="even pointer"> 

                                  <td><a href='#'> Ramón</a> </td>
                        
                                  
                                  <td>
                                    Freire
                                  </td>                               
                                  
                                  <td>Obrero</td>

                                  <td>Steve Jobs</td>
                                
                                 
                                  <td>Carga Documentos</td>



                                  <td><a href="/crear_perfil_staff/8/"><button type="button"  class="btn btn-primary btn-simple btn-xs">
                                    <i class="fa fa-chevron-right"></i>
                                    </button></a>
                                  </td>


                             
                                </tr>

                              
                              </tbody>
                             
                            </table>
                              </div>
                            </div>
                          </div>

</div>
</div>
</p>
</div>


                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                          <p>
                  <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <div class="col-md-6 col-sm-6 col-xs-6">
               <h2></i>&nbsp;&nbsp;Usuarios y Obreros</h2>

             </div>

    
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                   Agregar: &nbsp;&nbsp;
                                 <a href='{% url "staff" %}'><button type="button" class="btn btn-primary btn-xs">Usuario</button></a>
                                  <a href='{% url "profile:add_obrero" %}'> <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-sm">Obrero</button></a>

                            
                                </div>
                                               <br>
                             

      
                          <div class="panel-body">
                            


                          <div class="table-responsive">

                      <table id="myTable" class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                         
                            <th class="column-title">Nombre</th>
                            <th class="column-title">Apellido</th>
                            <th class="column-title">Cargo</th>
                            <th class="column-title">Ultima Actualizacion</th>
                            <th>Ver</th>
                          
                         

                          </tr>
                        </thead>

                              <tbody>

                            
                      {% for obj in obj %}

                          <tr class="even pointer"> 

                                 <td>   {{ obj.user.first_name }}</a></td> 
                        
                                  
                                   <td>
                                    {{ obj.user.last_name }}
                                  </td>                              
                                  
                                  <td>{{ obj.cargo }}</td>

                           
                                
                                 
                                  <td>{{ obj.ultimateupdate }}</td>



                          <td><a href='{% url "profile:profile_detail" obj.id %}'><button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-eye"></i>
                          </button></a></td>
                                </tr>
                        {% endfor %}

                              
                              </tbody>
                             
                            </table>
                          </div>

                        </div>


                          <div class="panel-body">
                            


                          <div class="table-responsive">

                      <table id="myTable2" class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                         
                            <th class="column-title">Nombre</th>
                            <th class="column-title">Apellido</th>
                            <th class="column-title">Cargo</th>
                            <th class="column-title">Supervisor</th>
                            <th class="column-title">Ultima Actualizacion</th>
                            <th>Ver</th>
                          
                         

                          </tr>
                        </thead>

                              <tbody>

                            
                      {% for obj in obj2 %}

                          <tr class="even pointer"> 

                                 <td>   {{ obj.nombre }}</a></td> 
                        
                                  
                                   <td>
                                    {{ obj.apellido }}
                                  </td>                              
                                  
                                  <td>{{ obj.cargo }}</td>

                                  <td> {{ obj.supervisor.user.first_name }} {{ obj.supervisor.user.last_name }}</td>
                                
                                 
                                  <td>{{ obj.ultimateupdate }}</td>



                          <td><a href='{% url "profile:profile_detail_obrero" obj.id %}'><button type="button" rel="tooltip" title="Ver todo" class="btn btn-primary btn-simple btn-xs">
                          <i class="fa fa-eye"></i>
                          </button></a></td>
                                </tr>
                        {% endfor %}

                              
                              </tbody>
                             
                            </table>
                          </div>
                          
                        </div>
                                                  </div>
                        </div>
                                                  </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </p>


 </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


                    


                  
            




{% endblock content %}





{% block content2 %}

<script type="text/javascript">
  
$(document).ready(function(){  
if (location.hash) {
  $('a[href=\'' + location.hash + '\']').tab('show');
}
var activeTab = localStorage.getItem('activeTab');
if (activeTab) {
  $('a[href="' + activeTab + '"]').tab('show');
}

$('body').on('click', 'a[data-toggle=\'tab\']', function (e) {
  e.preventDefault()
  var tab_name = this.getAttribute('href')
  if (history.pushState) {
    history.pushState(null, null, tab_name)
  }
  else {
    location.hash = tab_name
  }
  localStorage.setItem('activeTab', tab_name)

  $(this).tab('show');
  return false;
});
$(window).on('popstate', function () {
  var anchor = location.hash ||
    $('a[data-toggle=\'tab\']').first().attr('href');
  $('a[href=\'' + anchor + '\']').tab('show');
});

});
</script>


<script type="text/javascript">

$(document).ready(function(){
    $('#myTable').DataTable();
});

</script>

<script type="text/javascript">

$(document).ready(function(){
    $('#myTable2').DataTable();
});

</script>


{% endblock content2 %}